/*
 *= require_tree .
 *= require_self
 */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

header {
  background: navy;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  background: #efefef;
}

main {
  .container {
    background: white;
  }
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.task-list {
  padding: 1em;
  & + & {
    border-top: 1px solid darkblue;
  }

  .task-name {
    font: 1.2em sans-serif;
    font-weight: 700;
    width: 80%;
    display: inline-block
  }

  .add-task {
    width: 20%;
    right: 0;
    text-align: right;
    display: inline-block;
  }

  .task-info {
    font-weight: 300;
    background-color: #c2466d;
    color: #fff;
    border: 2px solid #6d5862;
    padding: .8em 1em;
    .button_to {
      display: inline-block;
    }
    .complete {
      color: black;
      background: #fff;
      border: 2px solid #aaa;
    }
  }
}

.new-task-form {
  @extend .signin-form;
  width: 24em;
  select {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    outline: none;
  }
  .field_with_errors {
    display: inline-block;
  }
}

.message {
  font-weight: 300;
  padding-left: 1em;
  background-color: #3cc276;
  color: #fff;
  border: 2px solid #516d58;
}